[submodule "GlobalLocal"]
	path = GlobalLocal
	url = git@github.com:coganlab/GlobalLocal.git
[submodule ".submodules/mem_task"]
	path = Associative_Memory
	url = git@github.com:coganlab/mem_task.git
[submodule ".submodules/Picture_Naming"]
	path = Picture_Naming
	url = git@github.com:coganlab/Picture_Naming.git
[submodule "Retrocue"]
	path = Retrocue
	url = git@github.com:coganlab/Retrocue.git
[submodule "Phoneme-Sequencing"]
	path = Phoneme-Sequencing
	url = git@github.com:coganlab/Phoneme-Sequencing.git
